<%- include header %>

<form method="post" action='/reg'>
	账户：<input type="text" name="username"/><br />
	昵称：<input type="text" name="name"/><br />
	密码：<input type="password" name="password"/><br />
	邮箱：<input type="email" name="email"/><br />
	 <input type="submit" value="注册"/>
</form>

<%- include footer %>